@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
  <ul>
  @{
    foreach (Series item in ViewBag.Series){
      <li>
        <div class="card" style="width: 22rem;">
          <img class="card-img-top" src="@item.ImagenSerie" alt="img">
          <div class="card-body">
            <h5 class="card-title">@item.Nombre</h5>
            <p class="card-text">@item.Sinopsis</p>
              <div class="card-buttons">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalInfo" onclick="MostrarActores(@item.IdSerie, '@item.Nombre')">Actores</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalInfo" onclick="MostrarTemporadas(@item.IdSerie, '@item.Nombre')"> Temporadas</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalInfo" onclick="MostrarInfo(@item.IdSerie, '@item.Nombre')"> Temporadas</button>
              </div>
          </div>
        </div>
      </li>
    }
  }
  </ul>
</div>

<div class="modal fade" id="ModalInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="titulo">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="info"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>